*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style-type:none;
}
.container{
	width:1170px;
	margin:0 auto;
}
/*--==========navbar part start=========--*/
nav{
	background-color:black;
	padding:40px 0;
}
.nav-wrapper{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.menu ul{
	display:flex;
	column-gap:45px;
	font-size:20px;
}
.menu ul li a{
	color:white;
	font-family:'Roboto',sans-serif;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700px;
	transition:all-linear 0.3s;
}
.menu ul li a:hover{
	color:#25a2bf;
}

/*--==========navbar part end=========--*/
/*--==========banner part start=========--*/
#banner{
	background-image:("../images/banner-2.jpg");
}
/*--==========banner part end=========--*/
